<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @note.create_date %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @note.update_date %>
</p>

<p>
  <strong>Glsuser:</strong>
  <%= @note.glsuser %>
</p>

<p>
  <strong>Category:</strong>
  <%= @note.category %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
