<% if @glsuser.errors.any? %>
<ul >
	<% @glsuser.errors.full_messages.each do |msg| %>
		<li><%= msg%></li>
	<% end %>
</ul>
<% end %>

<!-- start form styling -->
<div class="row">
	<div class="col-sm-12">
		<%= form_for(@glsuser, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group">
				<div class="col-sm-2 control-label">
					<%= f.label :firstname%>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :firstname, class: "form-control"%>
				</div> 
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">
					<%= f.label :lastname %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :lastname, class: "form-control"%> 
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">
					<%= f.label :username%>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :username, class: "form-control"%> 
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">
					<%= f.label :password %>
				</div>
				<div class="col-sm-8">
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					 <%= f.submit class: "btn btn-primary btn-lg" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">	
					<%= link_to '[Back]' , glsusers_path%>
				</div>
			</div>			
		<% end %>
	</div>
</div>