<% if @glsuser.errors.any? %>
<ul >
	<% @glsuser.errors.full_messages.each do |msg| %>
		<li><%= msg%></li>
	<% end %>
</ul>
<% end %>
<h1>Edit existing user</h1>
<%= form_for @glsuser do |f| %>

<%= f.label :firstname%>
<%= f.text_field :firstname%> 

<%= f.label :lastname%>
<%= f.text_field :lastname%> 

<%= f.label :username%>
<%= f.text_field :username%> 

<%= f.label :password%>
<%= f.password_field :password%>
<br/>
 <%= f.submit%>
<% end %>
<p>
	<%= link_to 'Back' , glsusers_path%>
</p>