<p class="center">
	
	<%= link_to 'Create a new user' , new_glsuser_path%>
</p>
<h1 class="center">List all users</h1>
	<% @glsusers.each do |user|%>
		<div class="col-sm-offset-2 col-sm-8">
			<div class="well well-lg">
				<div class="list-body row">
					<div class="col-sm-4">
						<%= user.firstname %>
					</div>
					<div class="col-sm-4">
						<%= user.lastname %>
					</div>
					<div class="col-sm-4">
						<%= user.username %>
					</div>
				</div>
				<div class="detail-actions">		
					<%= link_to 'View' , glsuser_path(user), class: "btn btn-xs btn-primary" %>		
					<%= link_to 'Delete' , glsuser_path(user), method: :delete, 
																	data: {confirm: "Are you sure to delete this user? "}, 
																	class: "btn btn-xs btn-danger"%>
					<%= link_to 'Edit' , edit_glsuser_path(user), class: "btn btn-xs btn-success"%>
				</div>
			</div>
		</div>
	<% end %>
