<p class="center">
	
	<%= link_to 'Create a new user' , new_glsuser_path%>
</p>
<h1 class="center">List all users</h1>
	<% @glsusers.each do |user|%>
		<div class="col-sm-offset-2 col-sm-8">
			<div class="well well-lg">
				<div class="list-body row form-horizontal">
					<div class="col-sm-6">	
						<div class="col-sm-8 col-sm-offset-4">
							<strong >User Info</strong>
						</div>					
						<label class="col-sm-6 control-label">First Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.firstname %></p>
						</div>
						<label class="col-sm-6 control-label">Last Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.lastname %></p>
						</div>
						<label class="col-sm-6 control-label">User Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.username %></p>
						</div>
					</div>
					<div class="col-sm-6">
						<address>	
						<%  if user.addresses %>						
							<div class="col-sm-8 col-sm-offset-4">
								<strong>Address Info</strong>
							</div>
								<!-- Only display this first address for this user -->					
									<label class="col-sm-4 control-label">Street 1</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= user.addresses.first.street1 %></p>
									</div>
									<label class="col-sm-4 control-label">City</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= user.addresses.first.city %></p>
									</div>	
									<label class="col-sm-4 control-label">State</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= user.addresses.first.state %></p>
									</div>							
							<% end %>
						</address>
					</div>
				</div>
				<div class="detail-actions">		
					<%= link_to 'View detail' , glsuser_path(user), class: "btn btn-xs btn-primary" %>		
					<%= link_to 'Delete' , glsuser_path(user), method: :delete, 
																	data: {confirm: "Are you sure to delete this user? "}, 
																	class: "btn btn-xs btn-danger"%>
					<%= link_to 'Edit' , edit_glsuser_path(user), class: "btn btn-xs btn-success"%>
				</div>
			</div>
		</div>
	<% end %>
