
	<p class="center">
	
		<%= link_to 'Create a new user' , new_glsuser_path if current_glsuser && current_glsuser.admin?%>
	</p>
<h1 class="center">List all users</h1>
	<div class="col-sm-12">
		<center><%= will_paginate @glsusers %></center>
	<div>
	<% @glsusers.each do |user|%>
		<div class="col-sm-offset-2 col-sm-8">
			<div class="well well-lg">
				<div class="list-body row form-horizontal">
					<div class="col-sm-6">	
						<div class="col-sm-8 col-sm-offset-4">
							<strong >User Info</strong>
						</div>					
						<label class="col-sm-6 control-label">First Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.firstname %></p>
						</div>
						<label class="col-sm-6 control-label">Last Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.lastname %></p>
						</div>
						<label class="col-sm-6 control-label">User Name</label> 
						<div class="col-sm-6">
							<p class="form-control-static"><%= user.username %></p>
						</div>
					</div>
					<div class="col-sm-6">
						<address>	
						<%  if user.addresses %>						
							<div class="col-sm-8 col-sm-offset-4">
								<strong>Address Info</strong>
							</div>
							<% user.addresses.each do |address| %>
								<!-- Only display this first address for this user -->					
									<label class="col-sm-4 control-label">Street 1</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= address.street1 %></p>
									</div>
									<label class="col-sm-4 control-label">City</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= address.city %></p>
									</div>	
									<label class="col-sm-4 control-label">State</label> 
									<div class="col-sm-8">
										<p class="form-control-static"><%= address.state %></p>
									</div>							
							<% end %>
							<% end %>
						</address>
					</div>
				</div>
				<div class="detail-actions" >		
					<%= link_to 'View user detail' , glsuser_path(user), class: "btn btn-xs btn-primary" %>		
					<%= link_to 'Delete user' , glsuser_path(user), method: :delete, 
																	data: {confirm: "Are you sure to delete this user? "}, 
																	class: "btn btn-xs btn-danger"%>
					<%= link_to 'Edit user' , edit_glsuser_path(user), class: "btn btn-xs btn-success"%>
				</div>
			</div>
		</div>
	<% end %>
	<div class="col-sm-12">
		<center><%= will_paginate %></center>
	</div>