<!DOCTYPE html>
<head>
</head>
<body>
<h1>User Detail ifnormation</h1>
<p>
firstname:
<%= @glsuser.firstname%> 
</p>
<p> 
lastname:
<%=  @glsuser.lastname%> 
</p>
<p>
Username: 
<%=  @glsuser.username%> 
</p>
Password:
<%=  @glsuser.password%>
<p>
	
	<%= link_to 'Back' , glsusers_path%>&nbsp;|&nbsp;
	<%= link_to 'Edit' , edit_glsuser_path(@glsuser)%>
</p>
</body>
</html>