<div class="row ">
	<div class="well col-xs-8 col-xs-offset-2 ">
		<h1 class="center detail-title">User Detail ifnormation</h1>
		<div class="form-hrizontal">
			<div class=" col-sm-12">
				<label class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<%= simple_format(@glsuser.firstname, class: "form-control-static detail-user-content" )%> 
				</div>

				<label class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<%=  simple_format(@glsuser.lastname, class: "form-control-static detail-user-content") %> 
				</div><!---Last Name---->

				<label class="col-sm-2 control-label">User Name</label>
				<div class="col-sm-10 ">
					<%=  simple_format(@glsuser.username,  class: "form-control-static detail-user-content") %> 
				</div><!---User Name---->		

				<label class="col-sm-2 control-label">User Email</label>
				<div class="col-sm-10 ">
					<%=  simple_format(@glsuser.email,  class: "form-control-static detail-user-content") %> 
				</div><!---User Email---->	
			</div>
			<div class="col-sm-12">
				<!-- display a list of addresses that belong to this user--->
				<%= render 'addresses/show_addresses', obj: @glsuser.addresses%>
			</div>
			<div class="detail-actions">		
				<%= link_to 'View all users' , glsusers_path, class: "btn btn-xs btn-primary" %>		
				<%= link_to 'Delete' , glsuser_path(@glsuser), method: :delete, data: {confirm: "Are you sure to delete this user? "}, class: "btn btn-xs btn-danger"%>
				<%= link_to 'Edit' , edit_glsuser_path(@glsuser), class: "btn btn-xs btn-success"%>
			</div><!---user actions---->
	</div>
</div>
</div>
