<center>
<%= link_to "create an article", new_article_path%>
<h1>List of all articles</h1>
</center>
<div class="row">
<div class="col-sm-offset-2 col-sm-8 well">
    <% @articles.each do |article| %>
      <div  class= "form-group">      	
      	<%= link_to "#{article.title}", article_path(article), class: "form-control-static" %>
        <div>
        	<%= article.description%>
        </div>
      </div>
      <div class= "form-group">      	
      	<%= link_to 'Show', article , class: "btn btn-primary btn-xs" %>
      	<%= link_to 'Edit', edit_article_path(article), class: "btn btn-success btn-xs" %>
      	<%= link_to 'Destroy', article, method: :delete , class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
</div>
<center>
	<%= link_to 'New Article', new_article_path %>
</center>