<center>
  <%= link_to 'New Category', new_category_path %>
</center>
<h1><center>List all categories</center></h1>
<% @categories.each do |category| %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 well">
      <div class="col-sm-12">
          <%= link_to "#{category.name}", categories_path , class: "form-control-static"%>
      </div>
      <div class="col-sm-4">
          <%= link_to "View", category_path(category) , class: "btn btn-primary btn-xs"%>
      </div>
      <div class="col-sm-4">
          <%= link_to "Edit", edit_category_path(category) , class: "btn btn-success btn-xs"%>
      </div>
      <div class="col-sm-4">
          <%= link_to "delete", category_path(category), method: :delete, data: {confirm: "Are you sure to delete this category?"} , class: "btn btn-danger btn-xs"%>
      </div>
  </div>
</div>
<% end %>
